:root {
  --primary-clr-100: #f4f5f5;
  --primary-clr-400: #008b98;
  --primary-clr-800: #2a3b3c;

  --neutral-clr-100: #ffffff;
  --neutral-clr-800: #262626;
  --neutral-clr-900: #1a1a1a;

  --font-family: 'Nunito Sans', system-ui, sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --fs-body: 18px;
  --fs-body-m: 16px;

  --fs-h1: 40px;
  --fs-h2: 32px;
  --fs-h3: 26px;
  --fs-h4: 24px;
  --fs-h5: 22px;

  --border-radius-100: 4px;
  --border-radius-200: 8px;
}

@media (min-width: 992px) {
  :root {
    --fs-h1: 48px;
    --fs-h2: 38px;
    --fs-h3: 32px;
    --fs-h4: 28px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;

  font-size: var(--fs-body);
  font-family: var(--font-family);
  color: var(--primary-clr-800);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-clr-400);
  transition: color 175ms ease-in-out;
}

a:hover,
a:focus {
  color: var(--neutral-clr-900);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}

h1,
.h1 {
  font-size: var(--fs-h1);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  color: var(--neutral-clr-900);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  color: var(--neutral-clr-900);
}

h3,
.h3 {
  font-size: var(--fs-h3);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  color: var(--neutral-clr-900);
}

h4,
.h4 {
  font-size: var(--fs-h4);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  color: var(--neutral-clr-900);
}

h5,
.h5 {
  font-size: var(--fs-h5);
  font-weight: var(--font-weight-regular);
  color: var(--neutral-clr-900);
}

.fs-body-m {
  font-size: var(--fs-body-m);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.bg-primary {
  background-color: var(--primary-clr-400);
  color: var(--neutral-clr-100);
}

.bg-dark {
  background-color: var(--neutral-clr-900);
  color: var(--neutral-clr-100);
}

.bg-light {
  background-color: var(--primary-clr-100);
  color: var(--neutral-clr-900);
}

.pb--l {
  padding-bottom: 60px !important;
}

@media (min-width: 768px) {
  .pb--l {
    padding-bottom: 120px !important;
  }
}

.br-100 {
  border-radius: var(--border-radius-100);
}

.br-200 {
  border-radius: var(--border-radius-200);
}

.btn {
  cursor: pointer;
  display: inline-flex;
  background-color: transparent;
  border: 0;
  align-items: center;
}

.btn--primary {
  padding: 8px 28px;
  background-color: var(--primary-clr-400);
  color: var(--neutral-clr-100);
  border-radius: var(--border-radius-100);

  transition: background-color 175ms ease-in-out;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--primary-clr-800);
  color: var(--neutral-clr-100);
}

.btn--underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary-clr-800);

  transition: color 175ms ease-in-out;
}

.btn--underline:hover,
.btn--underline:focus {
  color: var(--primary-clr-400);
}

.btn--arrow {
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-100);
  background-repeat: no-repeat;
  background-position: center;
}

.btn--arrow-primary {
  background-color: var(--primary-clr-400);
  background-image: url(../images/icons/arrow-right-light.svg);
}

.btn--arrow-neutral {
  background-color: var(--neutral-clr-100);
  background-image: url(../images/icons/arrow-right-dark.svg);
}

.btn--arrow:hover,
.btn--arrow:focus {
  animation: slide-arrow 500ms ease-in-out;
}

@keyframes slide-arrow {
  50% {
    background-position: 300%;
  }
  51% {
    background-position: -300%;
  }
  100% {
    background-position: center;
  }
}

/* NAVIGATION */
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--neutral-clr-100);
  padding-block: 8px;
  z-index: 9999;
}

.nav--products {
  background-color: var(--neutral-clr-900);
}

.nav--products__list {
  padding-block: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .nav--products__list {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}

.nav--products__list a,
.nav--products__list button {
  color: var(--neutral-clr-100);
}

.nav--products__list a:hover,
.nav--products__list a:focus {
  color: var(--primary-clr-400);
}

.nav--products .nav__list-nested-list a {
  color: var(--primary-clr-800);
}

.nav--products .nav__list-nested-list a:hover,
.nav--products .nav__list-nested-list a:focus {
  color: var(--primary-clr-400);
}

.nav--products .nav__list-item--products::after {
  background-image: url(../images/icons/chevron-down-light.svg);
}

.nav__logo {
  width: 280px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.nav__btn-toggle {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 992px) {
  .nav__btn-toggle {
    display: flex;
  }

  .nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 40px 16px;
    align-items: flex-start;
    background-color: var(--neutral-clr-100);
    flex-direction: column;
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
  }

  .nav__list[aria-expanded='false'] {
    transform: translateY(-120%);
  }
}

.nav__list a,
.nav__list button {
  color: var(--primary-clr-800);
}

.nav__list a:hover,
.nav__list a:focus {
  color: var(--primary-clr-400);
}

.nav__list-item--icon {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.nav__list-item--products::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../images/icons/chevron-down-dark.svg');
}

.nav__list-item--language-mk::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 15px;
  background-image: url('../images/flagMacedonian.png');
  background-size: cover;
  background-position: center;
}

.nav__list-item--language-sq::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 15px;
  background-image: url('../images/flagAlbanian.png');
  background-size: cover;
  background-position: center;
}

.nav__list-nested {
  position: relative;
}

.nav__list-nested-list {
  position: absolute;
  z-index: 999;
  left: -28px;
  top: 100%;
  padding: 16px 28px;
  background-color: var(--neutral-clr-100);
  border-radius: var(--border-radius-200);
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.nav__list-nested-list[aria-expanded='true'] {
  display: flex;
}

.nav__list-nested__item a {
  text-wrap: nowrap;
}

/* FOOTER */
.footer {
  background-color: var(--neutral-clr-900);
  color: var(--primary-clr-400);
  padding-top: 40px;
}

.footer a:hover,
.footer a:focus {
  color: var(--neutral-clr-100);
}

.footer .h4 {
  color: var(--neutral-clr-100);
  margin-bottom: 16px;
}

.footer__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer__content-contact-list,
.footer__content-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__content-contact-list-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer__content-map {
  border-radius: var(--border-radius-200);
}

.footer__copyright {
  padding-block: 12px;
  border-top: 1px solid var(--neutral-clr-800);
  color: var(--neutral-clr-100);
}

.footer__copyright a {
  color: var(--neutral-clr-100);
}

.footer__copyright a:hover,
.footer__copyright a:focus {
  color: var(--primary-clr-400);
}

.footer__copyright-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .footer .h4 {
    margin-bottom: 28px;
  }

  .footer__content-container {
    flex-direction: row;
  }

  .footer__content-container {
    margin-bottom: 80px;
  }
}

.s-section-header {
  padding-block: 24px;
  background-color: var(--primary-clr-100);
}

.s-section-header--l {
  padding-block: 40px;
}

.s-section-header__text {
  margin-top: 16px;
  max-width: 760px;
}

.s-section-header__buttons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

@media (min-width: 768px) {
  .s-section-header {
    text-align: center;
    padding-block: 40px;
  }

  .s-section-header--l {
    padding-block: 80px;
  }

  .s-section-header__text {
    margin-inline: auto;
  }

  .s-section-header__buttons {
    justify-content: center;
  }
}

.s-image-slider {
  padding-block: 30px;
}

@media (min-width: 768px) {
  .image-slider {
    padding-block: 60px;
  }
}

.s-content {
  padding-block: 30px;
}

.s-content--one-column .s-content__paragraph {
  margin-bottom: 32px;
}

.s-content__columns {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.s-content__columns > * {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .s-content {
    padding-block: 60px;
  }

  .s-content__columns {
    flex-direction: row;
  }
}

.s-features {
  padding-block: 30px;
}

.s-features__text {
  margin-top: 16px;
  max-width: 780px;
}

.s-features__cards {
  margin-top: 30px;
  display: grid;
  gap: 20px;
}

.s-features__cards-card {
  padding: 24px;
}

.s-features__cards-card.bg-dark .s-features__cards-card__title,
.s-features__cards-card.bg-primary .s-features__cards-card__title {
  color: var(--neutral-clr-100);
}

.s-features__cards-card__text {
  margin-block: 16px 24px;
}

@media (min-width: 768px) {
  .s-features {
    padding-block: 60px;
  }

  .s-features__header {
    text-align: center;
  }

  .s-features__text {
    margin-inline: auto;
  }

  .s-features__cards {
    margin-top: 60px;
  }

  .s-features__cards-card {
    padding: 32px;
  }
}

@media (min-width: 992px) {
  .s-features__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.s-slider {
  padding-block: 30px;
}

.swiper__slider {
  background-color: var(--primary-clr-100);
  border-radius: var(--border-radius-200);
  position: relative;
  cursor: grab;
}

.swiper-button {
  background-color: var(--neutral-clr-900);
  width: 40px !important;
  height: 40px !important;
  border-radius: var(--border-radius-100);
  position: absolute;
  top: auto !important;
  bottom: 28px !important;
  right: 28px !important;
  left: auto !important;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button:hover,
.swiper-button:focus {
  background-color: var(--primary-clr-400);
}

.swiper-button-prev {
  background-image: url(../images/icons/chevron-left.svg);
  right: 76px !important;
}

.swiper-button-next {
  background-image: url(../images/icons/chevron-right.svg);
}

.s-slider__slide {
  padding: 24px;
  padding-bottom: 100px !important;
  display: flex !important;
  flex-direction: column;
  gap: 32px;
}

.s-slider__slide-btn {
  margin-top: 40px;
}

.s-slider__slide-content {
  max-width: 677px;
}

.s-slider__slide-image {
  max-width: 285px;
  border-radius: var(--border-radius-200);
}

.s-slider__slide-title {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .s-slider {
    padding: 60px;
  }

  .s-slider__slide {
    padding: 40px;
    align-items: center;
    gap: 48px;
  }
}

@media (min-width: 992px) {
  .s-slider__slide {
    padding: 60px;
    padding-bottom: 60px !important;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}

.s-collection-display {
  padding-block: 30px;
}

.s-collection-display__group:not(:last-of-type) {
  margin-bottom: 60px;
}

.s-collection-display__group-title {
  font-size: 22px;
  margin-bottom: 12px;
  line-height: 1;
}

.s-collection-display__group-collors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.s-collection-display__group-collors__image {
  width: 130px;
  height: 130px;
  border-radius: var(--border-radius-100);
}

@media (min-width: 768px) {
  .s-collection-display {
    padding-block: 60px;
  }

  .s-collection-display__group-title {
    font-size: 28px;
  }
}

.s-certificates {
  padding-block: 30px;
}

.s-certificates__image {
  border-radius: var(--border-radius-200);
}

@media (min-width: 768px) {
  .s-certificates {
    padding-block: 60px;
  }
}

.s-powder-product {
  padding-block: 30px;
}

.s-powder-product__image {
  margin-top: 40px;
}

.s-powder-product__images {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.s-powder-product__images-image {
  max-width: 280px;
  border-radius: var(--border-radius-200);
}

.s-powder-product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.s-powder-product__content-text {
  flex: 1;
}

.s-powder-product__content-text__paragraph--bold {
  margin-top: 16px;
  font-weight: var(--font-weight-bold);
}

.s-powder-product__content-use__heading {
  color: var(--primary-clr-400);
  margin-bottom: 16px;
}

.s-powder-product__content-use__labels {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 400px;
}

.s-powder-product__content-use__labels .label {
  padding: 4px 12px;
  background-color: var(--primary-clr-100);
  border-radius: var(--border-radius-100);
  font-size: var(--fs-body-m);
}

@media (min-width: 768px) {
  .s-powder-product {
    padding-block: 60px;
  }

  .s-powder-product__image {
    margin: 80px auto 0;
  }

  .s-powder-product__images {
    margin: 80px auto 0;
    justify-content: center;
    gap: 80px;
  }

  .s-powder-product__content-text__paragraph--bold {
    margin-top: 32px;
  }
}

@media (min-width: 992px) {
  .s-powder-product__content {
    flex-direction: row;
    gap: 100px;
  }
}

.s-video {
  padding-block: 30px;
  text-align: center;
}

.s-video.s-video--two-columns {
  text-align: left;
}

.s-video__title {
  margin-bottom: 16px;
}

.s-video__columns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.s-video__columns-paragraph {
  flex: 1 1 100%;
  max-width: 780px;
  margin-inline: auto;
}

.s-video__btn {
  margin-top: 20px;
}

.s-video__video {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 1000px;
  margin-top: 30px;
  border-radius: var(--border-radius-200);
}

@media (min-width: 768px) {
  .s-video {
    padding-block: 60px;
  }

  .s-video__columns {
    flex-direction: row;
    gap: 40px;
  }

  .s-video__btn {
    margin-top: 40px;
  }

  .s-video__video {
    margin: 60px auto 0;
  }
}

.s-side-by-side {
  padding-block: 30px;
}

.s-side-by-side__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.s-side-by-side__content-data {
  max-width: 620px;
}

.s-side-by-side__content-btn {
  margin-top: 20px;
}

.s-side-by-side__content-img {
  max-width: 400px;
}

@media (min-width: 768px) {
  .s-side-by-side {
    padding-block: 60px;
  }

  .s-side-by-side__title {
    text-align: center;
  }

  .s-side-by-side__content {
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }

  .s-side-by-side__content-btn {
    margin-top: 40px;
  }
}

.s-other-products {
  padding-block: 30px;
}

.s-other-products__btn {
  width: 100%;
  background-color: var(--primary-clr-100);
  border-radius: var(--border-radius-200);
  color: var(--primary-clr-800);
  padding: 8px 24px;

  transition: background-color 175ms ease-in-out, color 175ms ease-in-out;
}

.s-other-products__btn:hover,
.s-other-products__btn:focus {
  background-color: var(--primary-clr-400);
  color: var(--neutral-clr-100);
}

.s-other-products__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 768px) {
  .s-other-products {
    padding-block: 60px;
  }

  .s-other-products__btn {
    width: 500px;
    text-align: center;
  }

  .s-other-products__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

.s-showcase {
  padding-block: 30px;
}

.s-showcase__grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.s-showcase__grid-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.s-showcase__grid-content-btn {
  width: 100%;
  background-color: var(--primary-clr-100);
  border-radius: var(--border-radius-200);
  color: var(--primary-clr-800);
  padding: 8px 24px;
  text-align: left;
  transition: background-color 175ms ease-in-out, color 175ms ease-in-out;
}

.s-showcase__grid-content-btn:hover,
.s-showcase__grid-content-btn:focus,
.s-showcase__grid-content-btn.active {
  background-color: var(--primary-clr-400);
  color: var(--neutral-clr-100);
}

.s-showcase__grid-image__img {
  width: 400px;
  border-radius: var(--border-radius-200);
}

@media (min-width: 768px) {
  .s-showcase {
    padding-block: 60px;
  }

  .s-showcase__grid {
    flex-direction: row;
    justify-content: center;
    gap: 240px;
  }

  .s-showcase__grid-content-btn {
    width: 280px;
  }
}
